
@media screen and (max-width:768px){
	.Atajos{
		p{
			padding: 2% 2% 2% 2%;
			width: 50%;
		}
		a{
			margin-top: 5%;
			height: 40%;
		}

	}
}



@media screen and (max-width:768px){
	
	/*Index*/
	.SliderInicio{
		display:none;
	}
	.Sobre_Nosotros{
		img{
			display:none;
		}
	}

	.ServiciosIndex{
		.Cuadros{
			margin-bottom:3%;
			img{
				display:none;
			}
		}
	}

	.SeccionDerivados__Flex{
		img{
			display:none;
		}
	}

	/*Sobre Nosotros */

	.Historia{
		img{
			margin-left: 20%;
		}
	}
	.MujerRural{
		img{
			display:none;
		}
		article{
			padding-left: 15%;
			margin-bottom: 10%;
		}
	}
	.Lista__Ideales{
		margin-left:0px;
	}

	/*Sécción la chacra*/


	.SliderEventos{
		display:none;
	}
	.FotoBodita{
		display:none;
	}
	section{
		.Eventos{
			.Eventos_Info{
				text-align:right;
				h2{
					padding-left:0%;
				}
				
				p{
					width:100%;
				}
				.subtitulo{
					width:100%;
				}
			}
			.Eventos_cards{
				display:block;
			}
		}
	}
}

@media screen and (max-width:768px){
	.contenedorContacto{
		.Formulario{
			align-items: center;
		}
	}
}


@media screen and (min-width:768px){
	.Inicio_Portada{
		display:none;
	}
}
