
/*Tipografías*/
$Muli:'Mulish', sans-serif; /*Tipografía Texto*/
$Roboto: 'Roboto Slab', serif; /*Tipografía Títulos y Botones*/

/*Colores*/
$Musgo:#8C974F; /*Verde musgo*/
$VerdeTitulo: #B7C134;

$Gris:#353535;

$Base: 10%;
